# Session 4 - Python and Pandas

## Part 0

Download all relevant files into a single folder. REVIEW THE FILES BEFORE YOU BEGIN THE FOLLOWING EXERCISES
Set the working directory in the IDE of your choice.

In [1]:
#In this case, all files are place in '../data'

## PART 1 – Dallas Keuchel

The 2015 pitching logs for Dallas Keuchel have been mishandled! The logs are now split into 2 separate files and must be recombined.  

There is missing data in both files and some incorrect data:
The only complete and correct column in both files for Dallas Keuchel is the column "Gtm".

For the first file (incomplete1), the "Opp" column has some incorrect entries, specifically rows index 3 to 6 (Excel rows 5-8). There is no way Dallas Keuchel would have faced the Montreal Expos (MTL) in 2015! (The Expos no longer exist, among other reasons)

All other data in the first file (incomplete1) is correct.
The second file (incomplete2) tried to correct this mistake, but is missing other entries in the "Opp" column.

- Read the relevant .csv files into Python as dataframes. 
- Merge the two files into one complete and correct dataframe, with sensible/original column names and no unnecessary/duplicate columns, using the information provided above.

In [2]:
import pandas as pd
import numpy as np

In [68]:
import os
os.chdir(r"C:\users\jason.becker\documents\gitrepos\summer-python-series\data")

In [60]:
#Load dataset 1 as a DataFrame
incomp1 = pd.read_csv("2015 Keuchel incomplete1.csv")
incomp1.head()

,Pitcher,Gcar,Gtm,Date,Tm,Home/Away,Opp,Rslt,Inngs,Dec,DR,IP,H,R,ER
0,"Keuchel, D.",77,1,6-Apr,HOU,NaN,CLE,W2-0,GS-7,W(1-0),99,7,3,0,0
1,"Keuchel, D.",78,6,12-Apr,HOU,@,TEX,W6-4,GS-7,NaN,5,7,6,2,2
2,"Keuchel, D.",79,11,18-Apr,HOU,NaN,LAA,W4-0,GS-6,W(2-0),5,6,2,0,0
3,"Keuchel, D.",80,16,24-Apr,HOU,@,MTL,W5-4,GS-9,NaN,5,9,2,0,0
4,"Keuchel, D.",81,21,29-Apr,HOU,@,MTL,W7-2,GS-8,W(3-0),4,8,3,1,1

In [61]:
#Load dataset 2 as a DataFrame
incomp2 = pd.read_csv("2015 Keuchel incomplete2.csv")
incomp2.head()

,Pitcher,Gtm,H,R,ER,BB,SO,HR,HBP,Opp,...,Exited,IBB,GDP,SF,ROE,aLI,WPA,RE24,DFS(DK),DFS(FD)
0,"Keuchel, D.",1,3,0,0,3,4,0,0,NaN,...,7t 3 out a1,0,1,0,0,1.37,0.445,3.41,24.15,15
1,"Keuchel, D.",6,6,2,2,3,3,0,0,TEX,...,7b 3 out a2,0,1,0,0,0.95,0.180,1.58,10.55,8
2,"Keuchel, D.",11,2,0,0,3,7,0,0,NaN,...,6t 3 out tie,0,0,0,0,1.06,0.351,2.92,29.10,17
3,NaN,16,2,0,0,2,4,0,0,OAK,...,9b 3 out tie,0,1,0,0,1.15,0.677,4.38,25.85,13
4,NaN,21,3,1,1,0,4,0,0,SDP,...,8b 3 out a2,0,0,0,0,1.02,0.353,2.45,24.40,15

In [40]:
#Merge to combine by columns.  Join is for combining by index.
#Columns must be named the same
comp = incomp1.merge(incomp2, on=incomp2.Gtm, how = 'left', suffixes = ('', '_2'))
comp.head()

,Pitcher,Gcar,Gtm,Date,Tm,Home/Away,Opp,Rslt,Inngs,Dec,...,Exited,IBB,GDP,SF,ROE,aLI,WPA,RE24,DFS(DK),DFS(FD)
0,"Keuchel, D.",77,1,6-Apr,HOU,NaN,CLE,W2-0,GS-7,W(1-0),...,7t 3 out a1,0,1,0,0,1.37,0.445,3.41,24.15,15
1,"Keuchel, D.",78,6,12-Apr,HOU,@,TEX,W6-4,GS-7,NaN,...,7b 3 out a2,0,1,0,0,0.95,0.180,1.58,10.55,8
2,"Keuchel, D.",79,11,18-Apr,HOU,NaN,LAA,W4-0,GS-6,W(2-0),...,6t 3 out tie,0,0,0,0,1.06,0.351,2.92,29.10,17
3,"Keuchel, D.",80,16,24-Apr,HOU,@,MTL,W5-4,GS-9,NaN,...,9b 3 out tie,0,1,0,0,1.15,0.677,4.38,25.85,13
4,"Keuchel, D.",81,21,29-Apr,HOU,@,MTL,W7-2,GS-8,W(3-0),...,8b 3 out a2,0,0,0,0,1.02,0.353,2.45,24.40,15

In [64]:
#We have dupe columns, dropping all of them from the right df
x = list(comp.columns)
drop_list = [z for z in x if z[-2:] == "_2"]
comp.drop(drop_list, axis = 1, inplace = True)
comp.head()

,Pitcher,Gcar,Gtm,Date,Tm,Home/Away,Opp,Rslt,Inngs,Dec,...,Exited,IBB,GDP,SF,ROE,aLI,WPA,RE24,DFS(DK),DFS(FD)
0,"Keuchel, D.",77,1,6-Apr,HOU,NaN,CLE,W2-0,GS-7,W(1-0),...,7t 3 out a1,0,1,0,0,1.37,0.445,3.41,24.15,15
1,"Keuchel, D.",78,6,12-Apr,HOU,@,TEX,W6-4,GS-7,NaN,...,7b 3 out a2,0,1,0,0,0.95,0.180,1.58,10.55,8
2,"Keuchel, D.",79,11,18-Apr,HOU,NaN,LAA,W4-0,GS-6,W(2-0),...,6t 3 out tie,0,0,0,0,1.06,0.351,2.92,29.10,17
3,"Keuchel, D.",80,16,24-Apr,HOU,@,MTL,W5-4,GS-9,NaN,...,9b 3 out tie,0,1,0,0,1.15,0.677,4.38,25.85,13
4,"Keuchel, D.",81,21,29-Apr,HOU,@,MTL,W7-2,GS-8,W(3-0),...,8b 3 out a2,0,0,0,0,1.02,0.353,2.45,24.40,15

## PART 2 – Scott Kazmir

John and Jane were the ones tracking pitching for Scott Kazmir in 2015. At the end of the season, when they compared their files, they found that their files had different data! They agree that only data that appear in both of their files is correct. 

- Read the relevant .csv files into Python as dataframes. 
- Create a dataframe of 2015 Scott Kazmir pitching data that is correct by merging John and Jane's files.

In [82]:
#Read in both files and convert to df
Kaz1 = pd.read_csv(r'2015 Kazmir, Scott according to Jane.csv')
Kaz2 = pd.read_csv(r'2015 Kazmir, Scott according to John.csv')

In [107]:
Kaz1.Gtm

0       1
1       2
2       3
3       8
4      13
5      18
6      24
7      29
8      34
9      39
10     44
11     49
12     57
13     62
14     67
15     72
16     77
17     82
18     87
19     93
20     98
21    103
22    109
23    114
24    119
25    124
26    129
27    134
28    139
29    144
30    149
31    154
32    159
Name: Gtm, dtype: int64

In [108]:
Kaz2.Gtm

0       3
1       8
2      13
3      18
4      24
5      29
6      34
7      39
8      44
9      49
10     57
11     62
12     67
13     72
14     77
15     82
16     87
17     93
18     98
19    103
20    109
21    114
22    119
23    124
24    129
25    134
26    139
27    144
28    149
29    154
30    159
31    162
32    163
Name: Gtm, dtype: int64

In [97]:
#merge, keep only what is on both files
KazInd = pd.DataFrame(Kaz1.merge(Kaz2, on = 'Gtm', how = 'inner').Gtm)
KazInd
KazComb = pd.merge(left = Kaz1, right = KazInd, on = 'Gtm', how = 'inner')

In [99]:
KazComb.head()

,Pitcher,Gcar,Gtm,Date,Tm,Home/Away,Opp,Rslt,Inngs,Dec,...,GDP,SF,ROE,aLI,WPA,RE24,DFS(DK),DFS(FD),Entered,Exited
0,"Kazmir, S.",242,3,8-Apr,OAK,NaN,TEX,W10-0,GS-7,W(1-0),...,0,0,1,0.44,0.195,3.41,38.55,21.00,1t start tie,7t 3 out a9
1,"Kazmir, S.",243,8,13-Apr,OAK,@,HOU,W8-1,GS-6,W(2-0),...,1,0,0,0.60,0.117,1.92,27.90,17.00,1b start a 3,6b 3 out a7
2,"Kazmir, S.",244,13,19-Apr,OAK,@,KCR,L2-4,GS-8,NaN,...,1,0,0,1.42,0.311,2.33,14.70,10.33,1b start tie,8b -2- 1 out a1
3,"Kazmir, S.",245,18,24-Apr,OAK,NaN,HOU,L4-5,GS-7,NaN,...,0,0,0,1.33,0.438,3.41,23.75,14.00,1t start tie,7t 3 out tie
4,"Kazmir, S.",246,24,1-May,OAK,@,TEX,W7-5,GS-6,NaN,...,0,1,0,0.69,-0.079,0.07,11.70,9.00,1b start tie,6b 3 out d3

In [100]:
Kaz1.columns

Index(['Pitcher', 'Gcar', 'Gtm', 'Date', 'Tm', 'Home/Away', 'Opp', 'Rslt',
       'Inngs', 'Dec', 'DR', 'IP', 'H', 'R', 'ER', 'BB', 'SO', 'HR', 'HBP',
       'ERA', 'BF', 'Pit', 'Str', 'StL', 'StS', 'GB', 'FB', 'LD', 'PU', 'Unk',
       'GSc', 'IR', 'IS', 'SB', 'CS', 'PO', 'AB', '2B', '3B', 'IBB', 'GDP',
       'SF', 'ROE', 'aLI', 'WPA', 'RE24', 'DFS(DK)', 'DFS(FD)', 'Entered',
       'Exited'],
      dtype='object')

In [101]:
Kaz2.columns

Index(['Pitcher', 'Gcar', 'Gtm', 'Date', 'Tm', 'Home/Away', 'Opp', 'Rslt',
       'Inngs', 'Dec', 'DR', 'IP', 'H', 'R', 'ER', 'BB', 'SO', 'HR', 'HBP',
       'ERA', 'BF', 'Pit', 'Str', 'StL', 'StS', 'GB', 'FB', 'LD', 'PU', 'Unk',
       'GSc', 'IR', 'IS', 'SB', 'CS', 'PO', 'AB', '2B', '3B', 'IBB', 'GDP',
       'SF', 'ROE', 'aLI', 'WPA', 'RE24', 'DFS(DK)', 'DFS(FD)', 'Entered',
       'Exited'],
      dtype='object')

In [104]:
KazCombo = pd.merge(left = Kaz1, right = Kaz2, how = 'inner')
KazCombo

,Pitcher,Gcar,Gtm,Date,Tm,Home/Away,Opp,Rslt,Inngs,Dec,...,GDP,SF,ROE,aLI,WPA,RE24,DFS(DK),DFS(FD),Entered,Exited
0,"Kazmir, S.",242,3,8-Apr,OAK,NaN,TEX,W10-0,GS-7,W(1-0),...,0,0,1,0.44,0.195,3.41,38.55,21.00,1t start tie,7t 3 out a9
1,"Kazmir, S.",243,8,13-Apr,OAK,@,HOU,W8-1,GS-6,W(2-0),...,1,0,0,0.60,0.117,1.92,27.90,17.00,1b start a 3,6b 3 out a7
2,"Kazmir, S.",244,13,19-Apr,OAK,@,KCR,L2-4,GS-8,NaN,...,1,0,0,1.42,0.311,2.33,14.70,10.33,1b start tie,8b -2- 1 out a1
3,"Kazmir, S.",245,18,24-Apr,OAK,NaN,HOU,L4-5,GS-7,NaN,...,0,0,0,1.33,0.438,3.41,23.75,14.00,1t start tie,7t 3 out tie
4,"Kazmir, S.",246,24,1-May,OAK,@,TEX,W7-5,GS-6,NaN,...,0,1,0,0.69,-0.079,0.07,11.70,9.00,1b start tie,6b 3 out d3
5,"Kazmir, S.",247,29,6-May,OAK,@,MIN,L0-13,GS-6,L(2-1),...,1,1,0,0.58,-0.230,-2.99,1.10,4.00,1b start tie,6b 3 out d6
6,"Kazmir, S.",248,34,11-May,OAK,NaN,BOS,L4-5,GS-6,NaN,...,1,0,0,1.13,0.085,0.92,10.70,7.00,1t start tie,6t 3 out a1
7,"Kazmir, S.",249,39,17-May,OAK,NaN,CHW,L3-7,GS-5,L(2-2),...,0,0,2,1.51,-0.439,-3.74,7.35,7.33,1t start tie,5t 1-3 1 out d3
8,"Kazmir, S.",250,44,22-May,OAK,@,TBR,L2-5,GS-6,L(2-3),...,1,0,1,1.25,-0.165,-0.49,7.15,7.67,1b start tie,6b --3 2 out d2
9,"Kazmir, S.",251,49,27-May,OAK,NaN,DET,L2-3,GS-3,NaN,...,0,0,0,1.22,0.152,1.46,14.75,7.00,1t start tie,3t 3 out tie
10,"Kazmir, S.",252,57,5-Jun,OAK,@,BOS,L2-4,GS-5,L(2-4),...,1,1,0,0.81,-0.193,-1.93,1.70,5.67,1b start tie,5b 1-3 2 out d3
11,"Kazmir, S.",253,62,11-Jun,OAK,NaN,TEX,W7-0,GS-8,W(3-4),...,1,0,0,1.16,0.578,3.89,32.80,18.00,1t start tie,8t 3 out a1
12,"Kazmir, S.",254,67,16-Jun,OAK,@,SDP,W6-5,GS-5,NaN,...,0,0,1,1.05,-0.180,-0.84,13.25,9.00,1b start tie,5b 3 out tie
13,"Kazmir, S.",255,72,21-Jun,OAK,NaN,LAA,W3-2,GS-8,W(4-4),...,2,0,0,1.16,0.403,3.38,23.30,16.33,1t start tie,8t 1-- 1 out a3
14,"Kazmir, S.",256,77,27-Jun,OAK,NaN,KCR,L2-3,GS-7,L(4-5),...,0,1,0,1.25,-0.062,0.41,13.35,10.00,1t start tie,7t 3 out d1
15,"Kazmir, S.",257,82,2-Jul,OAK,NaN,SEA,W4-0,GS-8,W(5-5),...,1,0,0,0.71,0.375,3.89,33.00,19.00,1t start tie,8t 3 out a4
16,"Kazmir, S.",258,87,8-Jul,OAK,@,NYY,L4-5,GS-3,NaN,...,0,0,1,0.93,0.053,0.43,12.35,7.00,1b start tie,3b 3 out a1
17,"Kazmir, S.",259,93,18-Jul,OAK,NaN,MIN,W3-2,GS-9,NaN,...,3,0,0,1.31,0.492,3.71,20.75,12.33,1t start tie,9t -2- 1 out a1
18,"Kazmir, S.",260,98,24-Jul,HOU,@,KCR,W4-0,GS-7,W(6-5),...,0,0,0,0.85,0.305,3.51,22.15,14.00,1b start tie,7b 3 out a4
19,"Kazmir, S.",261,103,30-Jul,HOU,NaN,LAA,W3-0,GS-8,NaN,...,0,0,0,1.32,0.424,3.30,23.65,12.67,1t start tie,8t -23 2 out tie
20,"Kazmir, S.",262,109,5-Aug,HOU,@,TEX,L3-4,GS-6,L(6-6),...,1,1,2,0.68,-0.198,-1.38,13.55,9.67,1b start tie,6b 12- 2 out d1
21,"Kazmir, S.",263,114,11-Aug,HOU,@,SFG,L1-3,GS-6,L(6-7),...,0,0,0,0.84,-0.072,-0.64,6.35,6.67,1b start tie,6b --3 2 out d3
22,"Kazmir, S.",264,119,17-Aug,HOU,NaN,TBR,L2-9,GS-6,L(6-8),...,1,1,0,0.76,-0.327,-3.25,1.20,5.33,1t start tie,6t 1-3 1 out d3
23,"Kazmir, S.",265,124,22-Aug,HOU,NaN,LAD,W3-1,GS-6,W(7-8),...,0,0,0,1.25,0.223,1.92,24.30,17.00,1t start tie,6t 3 out a1
24,"Kazmir, S.",266,129,28-Aug,HOU,@,MIN,L0-3,GS-7,L(7-9),...,0,0,0,0.73,-0.074,0.51,16.95,10.00,1b start tie,7b 3 out d3
25,"Kazmir, S.",267,134,2-Sep,HOU,NaN,SEA,L3-8,GS-5,NaN,...,0,0,0,1.18,-0.162,-1.08,7.35,7.33,1t start tie,5t 1-- 1 out tie
26,"Kazmir, S.",268,139,8-Sep,HOU,@,OAK,L0-4,GS-6,L(7-10),...,0,0,0,0.71,-0.132,-1.08,3.10,5.00,1b start tie,6b 3 out d4
27,"Kazmir, S.",269,144,14-Sep,HOU,@,TEX,L3-5,GS-7,NaN,...,0,0,1,1.29,-0.024,0.58,13.15,9.00,1b start a 1,7b 3 out tie
28,"Kazmir, S.",270,149,19-Sep,HOU,NaN,OAK,W10-6,GS-4,NaN,...,1,0,1,1.09,-0.172,-1.54,-0.35,2.67,1t start tie,4t 1-3 2 out tie
29,"Kazmir, S.",271,154,25-Sep,HOU,NaN,TEX,L2-6,GS-4,L(7-11),...,0,0,0,0.68,-0.309,-4.37,-14.35,-1.33,1t start tie,4t -2- 2 out d6
30,"Kazmir, S.",272,159,30-Sep,HOU,@,SEA,W7-6,GS-5,NaN,...,1,0,0,1.12,-0.566,-4.20,-1.25,3.33,1b start tie,5b 1-- 1 out d3

In [115]:
print(np.intersect1d(Kaz1.Gtm, Kaz2.Gtm))
print(len(np.intersect1d(Kaz1.Gtm, Kaz2.Gtm)))

[  3   8  13  18  24  29  34  39  44  49  57  62  67  72  77  82  87  93
  98 103 109 114 119 124 129 134 139 144 149 154 159]
31

## PART 3 – The other Astros starters and a readable master file

Import the data for other Astros starting pitchers: Feldman, Hernandez, McCullers, McHugh. All of these files contain complete and correct data.

Read the relevant .csv files into Python as dataframes. 

For readability, the organization wants a master file that stacks all of the correct pitcher data for their starting pitchers.
Create a dataframe that stacks all of the correct pitcher data for their starting pitchers.

Reset the index of the stacked dataframe so there are no duplicates in the index column
Sort the stacked dataframe by "Gtm"

Currently, the readability of this dataframe is still poor. The Astros analysts and scouts want the following changes made:

- For the 'Home/Away' column, fill in blank cells with "Home" and change cells with "@" to "Away"
- For the 'Dec' column, fill in blank cells with "No Decision"
- Reorder the columns of the stacked dataframe so that the order of the columns matches that of “2015 McHugh, Collin.csv”

For details on how to stack dataframes and which method to use, refer to the IPG MB wiki site here: https://wiki.mbww.com/display/INA/Stacking+Data

In [116]:
#Read in 4 remaining pitchers
Feldman = pd.read_csv("2015 Feldman, Scott.csv")
Hernandez = pd.read_csv("2015 Hernandez, Roberto.csv")
McCullers = pd.read_csv("2015 McCullers, Lance.csv")
McHugh = pd.read_csv("2015 McHugh, Collin.csv")

In [176]:
frames = [Feldman, Hernandez, McCullers, McHugh, comp, KazComb]
Master = pd.concat(frames)
#Reset Index
Master.reset_index(inplace = True)
Master.drop('index', axis = 1, inplace = True)
Master.head(35)

,2B,3B,AB,BB,BF,CS,DFS(DK),DFS(FD),DR,Date,...,SB,SF,SO,StL,StS,Str,Tm,Unk,WPA,aLI
0,0,0,25,0,25,0,17.00,10.67,99,8-Apr,...,0,0,5,18,7,68,HOU,0,0.221,0.76
1,2,0,23,1,24,0,-14.75,-2.00,4,13-Apr,...,0,0,0,18,3,65,HOU,0,-0.378,0.54
2,0,0,23,0,23,1,12.30,11.00,5,19-Apr,...,0,0,3,13,7,63,HOU,0,0.104,0.97
3,0,1,25,2,27,0,19.00,13.67,5,25-Apr,...,0,0,6,25,4,68,HOU,0,0.173,0.44
4,0,0,26,2,28,1,6.15,7.00,4,30-Apr,...,0,0,2,16,7,63,HOU,0,0.178,1.04
5,3,0,15,1,17,0,-12.05,-1.00,4,5-May,...,1,1,2,14,8,45,HOU,0,-0.380,0.72
6,1,0,26,1,28,0,12.55,9.00,4,10-May,...,0,1,5,12,7,61,HOU,0,-0.072,0.93
7,2,1,25,3,28,0,27.00,17.67,5,16-May,...,0,0,10,30,12,75,HOU,0,-0.005,0.76
8,1,0,26,1,27,0,-2.50,4.00,4,21-May,...,2,0,2,13,5,66,HOU,0,-0.174,0.69
9,1,0,19,3,23,0,14.70,11.00,4,26-May,...,2,1,2,16,6,55,HOU,0,0.160,1.30
10,2,0,24,2,28,0,-2.05,3.67,52,18-Jul,...,2,1,2,15,8,59,HOU,0,-0.137,0.95
11,1,0,25,1,27,0,14.45,8.67,6,25-Jul,...,0,1,2,15,3,58,HOU,0,0.255,1.52
12,1,0,24,0,24,0,3.60,5.33,5,31-Jul,...,0,0,3,17,8,62,HOU,0,-0.001,1.06
13,1,0,23,2,25,0,9.50,7.00,5,6-Aug,...,0,0,3,21,5,63,HOU,0,0.047,1.00
14,1,0,21,1,22,0,20.70,14.00,5,12-Aug,...,1,0,4,17,11,60,HOU,0,0.340,1.12
15,1,0,29,2,31,0,4.95,7.00,5,18-Aug,...,0,0,2,16,8,65,HOU,0,0.065,1.54
16,0,0,28,0,28,0,22.80,14.00,5,24-Aug,...,1,0,6,20,9,73,HOU,0,0.537,1.37
17,0,1,11,5,16,0,0.40,1.67,7,1-Sep,...,2,0,2,12,9,43,HOU,0,-0.114,1.29
18,3,1,19,4,23,0,6.50,5.67,99,11-Apr,...,0,0,2,16,6,55,HOU,0,-0.037,0.93
19,0,1,20,1,22,0,15.90,9.00,5,17-Apr,...,0,1,6,17,7,56,HOU,0,-0.125,0.94
20,0,0,26,1,27,0,6.55,6.00,4,22-Apr,...,1,0,2,20,6,64,HOU,0,-0.053,0.63
21,0,0,24,1,25,0,16.30,13.00,5,28-Apr,...,1,0,6,18,11,65,HOU,0,0.062,0.92
22,2,2,23,2,25,1,-2.10,3.00,4,3-May,...,0,0,1,19,4,55,HOU,0,-0.095,0.76
23,0,0,27,0,29,0,10.25,8.67,4,8-May,...,0,1,3,13,7,58,HOU,0,0.027,0.88
24,2,0,23,3,26,0,-0.95,2.33,5,14-May,...,1,0,0,16,4,53,HOU,0,-0.161,0.81
25,2,0,23,2,25,0,11.10,11.00,4,19-May,...,3,0,3,23,6,67,HOU,0,0.139,1.06
26,5,0,21,3,25,1,-3.55,3.00,4,24-May,...,0,1,5,22,6,59,HOU,0,-0.473,0.78
27,1,0,26,1,27,0,-0.85,3.67,6,31-May,...,2,0,2,18,2,65,HOU,0,-0.239,0.76
28,2,0,24,2,26,1,-6.05,1.67,4,5-Jun,...,0,0,1,12,3,60,HOU,0,-0.272,0.52
29,1,0,15,0,15,0,14.20,9.00,7,13-Jun,...,0,0,5,13,8,40,HOU,0,0.009,0.05
30,1,0,10,1,11,0,6.35,4.00,5,19-Jun,...,1,0,1,4,4,22,HOU,0,0.019,0.17
31,1,0,5,0,5,0,-2.15,0.00,3,23-Jun,...,0,0,0,4,0,9,HOU,0,0.000,0.00
32,0,0,5,0,5,0,3.80,2.33,2,26-Jun,...,0,0,1,5,2,12,HOU,0,0.060,0.83
33,0,0,13,3,16,0,11.05,5.67,0,27-Jun,...,1,0,2,12,3,27,HOU,0,0.071,0.44
34,0,0,3,0,3,0,6.25,5.00,5,3-Jul,...,0,0,0,1,0,6,HOU,0,0.140,1.84

In [177]:
Master.sort_values(by = 'Gtm', ascending = True, inplace = True)
Master.head(15)

,2B,3B,AB,BB,BF,CS,DFS(DK),DFS(FD),DR,Date,...,SB,SF,SO,StL,StS,Str,Tm,Unk,WPA,aLI
92,0,0,23,3,26,0,24.15,15.00,99,6-Apr,...,0,0,4,23,13,66,HOU,0,0.445,1.37
0,0,0,25,0,25,0,17.00,10.67,99,8-Apr,...,0,0,5,18,7,68,HOU,0,0.221,0.76
125,0,0,22,2,25,0,38.55,21.00,99,8-Apr,...,0,0,10,22,13,62,OAK,0,0.195,0.44
60,2,0,22,2,24,1,17.50,13.00,99,10-Apr,...,0,0,4,17,10,57,HOU,0,0.251,1.17
18,3,1,19,4,23,0,6.50,5.67,99,11-Apr,...,0,0,2,16,6,55,HOU,0,-0.037,0.93
93,1,0,26,3,29,0,10.55,8.00,5,12-Apr,...,0,0,3,16,5,58,HOU,0,0.180,0.95
1,2,0,23,1,24,0,-14.75,-2.00,4,13-Apr,...,0,0,0,18,3,65,HOU,0,-0.378,0.54
126,1,0,20,3,23,0,27.90,17.00,4,13-Apr,...,0,0,8,18,12,56,OAK,0,0.117,0.60
61,1,1,23,0,23,0,29.55,19.67,4,15-Apr,...,0,0,11,25,13,71,HOU,0,0.192,1.16
19,0,1,20,1,22,0,15.90,9.00,5,17-Apr,...,0,1,6,17,7,56,HOU,0,-0.125,0.94
94,1,0,20,3,23,0,29.10,17.00,5,18-Apr,...,0,0,7,17,9,61,HOU,0,0.351,1.06
2,0,0,23,0,23,1,12.30,11.00,5,19-Apr,...,0,0,3,13,7,63,HOU,0,0.104,0.97
127,1,0,27,1,29,0,14.70,10.33,5,19-Apr,...,0,0,5,16,11,73,OAK,0,0.311,1.42
62,1,0,26,2,28,0,11.35,11.00,5,21-Apr,...,0,0,3,19,10,64,HOU,0,-0.103,0.94
20,0,0,26,1,27,0,6.55,6.00,4,22-Apr,...,1,0,2,20,6,64,HOU,0,-0.053,0.63

In [178]:
#Rearrange columns to match McHugh file
Master = Master[McHugh.columns.tolist()]
Master.columns

Index(['Pitcher', 'Gcar', 'Gtm', 'Date', 'Tm', 'Home/Away', 'Opp', 'Rslt',
       'Inngs', 'Dec', 'DR', 'IP', 'H', 'R', 'ER', 'BB', 'SO', 'HR', 'HBP',
       'ERA', 'BF', 'Pit', 'Str', 'StL', 'StS', 'GB', 'FB', 'LD', 'PU', 'Unk',
       'GSc', 'IR', 'IS', 'SB', 'CS', 'PO', 'AB', '2B', '3B', 'IBB', 'GDP',
       'SF', 'ROE', 'aLI', 'WPA', 'RE24', 'DFS(DK)', 'DFS(FD)', 'Entered',
       'Exited'],
      dtype='object')

In [179]:
#Replace values in Home/Away field
Master['Home/Away'].fillna(value = 'Home', inplace = True)
Master['Home/Away'].values

array(['Home', 'Home', 'Home', '@', '@', '@', 'Home', '@', 'Home', 'Home',
       'Home', 'Home', '@', '@', '@', '@', '@', 'Home', '@', '@', '@',
       'Home', '@', 'Home', 'Home', 'Home', 'Home', '@', '@', '@', '@',
       '@', 'Home', 'Home', 'Home', 'Home', 'Home', 'Home', 'Home', 'Home',
       'Home', 'Home', '@', '@', '@', '@', '@', '@', '@', '@', 'Home',
       'Home', 'Home', 'Home', 'Home', 'Home', 'Home', '@', '@', '@', '@',
       '@', 'Home', 'Home', 'Home', 'Home', 'Home', '@', '@', '@', '@',
       '@', 'Home', '@', '@', '@', 'Home', 'Home', 'Home', 'Home', 'Home',
       'Home', 'Home', '@', 'Home', '@', '@', '@', '@', '@', '@', '@', '@',
       '@', 'Home', 'Home', 'Home', 'Home', 'Home', 'Home', 'Home', '@',
       '@', '@', 'Home', 'Home', 'Home', 'Home', 'Home', 'Home', '@', '@',
       '@', '@', '@', '@', '@', 'Home', 'Home', 'Home', 'Home', 'Home',
       'Home', 'Home', 'Home', '@', '@', '@', '@', '@', 'Home', 'Home',
       'Home', 'Home', 'Home', 'Home', '@', '@', '@', '@', '@', '@', '@',
       '@', 'Home', 'Home', 'Home', 'Home', 'Home', 'Home', 'Home', '@',
       '@', '@', '@', '@'], dtype=object)

In [180]:
Master.replace(to_replace = '@', value = 'Away', inplace = True)
Master['Home/Away'].values

array(['Home', 'Home', 'Home', 'Away', 'Away', 'Away', 'Home', 'Away',
       'Home', 'Home', 'Home', 'Home', 'Away', 'Away', 'Away', 'Away',
       'Away', 'Home', 'Away', 'Away', 'Away', 'Home', 'Away', 'Home',
       'Home', 'Home', 'Home', 'Away', 'Away', 'Away', 'Away', 'Away',
       'Home', 'Home', 'Home', 'Home', 'Home', 'Home', 'Home', 'Home',
       'Home', 'Home', 'Away', 'Away', 'Away', 'Away', 'Away', 'Away',
       'Away', 'Away', 'Home', 'Home', 'Home', 'Home', 'Home', 'Home',
       'Home', 'Away', 'Away', 'Away', 'Away', 'Away', 'Home', 'Home',
       'Home', 'Home', 'Home', 'Away', 'Away', 'Away', 'Away', 'Away',
       'Home', 'Away', 'Away', 'Away', 'Home', 'Home', 'Home', 'Home',
       'Home', 'Home', 'Home', 'Away', 'Home', 'Away', 'Away', 'Away',
       'Away', 'Away', 'Away', 'Away', 'Away', 'Away', 'Home', 'Home',
       'Home', 'Home', 'Home', 'Home', 'Home', 'Away', 'Away', 'Away',
       'Home', 'Home', 'Home', 'Home', 'Home', 'Home', 'Away', 'Away',
       'Away', 'Away', 'Away', 'Away', 'Away', 'Home', 'Home', 'Home',
       'Home', 'Home', 'Home', 'Home', 'Home', 'Away', 'Away', 'Away',
       'Away', 'Away', 'Home', 'Home', 'Home', 'Home', 'Home', 'Home',
       'Away', 'Away', 'Away', 'Away', 'Away', 'Away', 'Away', 'Away',
       'Home', 'Home', 'Home', 'Home', 'Home', 'Home', 'Home', 'Away',
       'Away', 'Away', 'Away', 'Away'], dtype=object)

In [182]:
Master['Dec'].fillna(value = 'No Decision', inplace = True)
Master['Dec'].values

In [184]:
Master.columns

Index(['Pitcher', 'Gcar', 'Gtm', 'Date', 'Tm', 'Home/Away', 'Opp', 'Rslt',
       'Inngs', 'Dec', 'DR', 'IP', 'H', 'R', 'ER', 'BB', 'SO', 'HR', 'HBP',
       'ERA', 'BF', 'Pit', 'Str', 'StL', 'StS', 'GB', 'FB', 'LD', 'PU', 'Unk',
       'GSc', 'IR', 'IS', 'SB', 'CS', 'PO', 'AB', '2B', '3B', 'IBB', 'GDP',
       'SF', 'ROE', 'aLI', 'WPA', 'RE24', 'DFS(DK)', 'DFS(FD)', 'Entered',
       'Exited'],
      dtype='object')

## PART 4 – Filtering through the stacked dataframe

At least one of the Houston starting pitchers in 2015 were acquired via trade mid-season. 
Team scouts and data analysts want an Excel file of pitching logs of just the games these starting pitchers played for the Houston Astros. 
They want the name of this file to be "2015 Houston Starts.xlsx"

As for the games played by the starting pitcher(s) for other team(s), the analysts want it in a .csv file named "2015 Non Houston Starts.csv" without an index column.
Both of these files should have columns in the same order as the stacked dataframe

For more details, refer to the IPG MB wiki site here: https://wiki.mbww.com/display/INA/

In [186]:
Master['Tm'].values

array(['HOU', 'HOU', 'OAK', 'HOU', 'HOU', 'HOU', 'HOU', 'OAK', 'HOU',
       'HOU', 'HOU', 'HOU', 'OAK', 'HOU', 'HOU', 'HOU', 'HOU', 'OAK',
       'HOU', 'HOU', 'HOU', 'HOU', 'OAK', 'HOU', 'HOU', 'HOU', 'HOU',
       'OAK', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'OAK', 'HOU', 'HOU',
       'HOU', 'HOU', 'OAK', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'OAK',
       'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'OAK', 'HOU', 'HOU',
       'HOU', 'HOU', 'HOU', 'HOU', 'OAK', 'HOU', 'HOU', 'HOU', 'OAK',
       'HOU', 'HOU', 'HOU', 'HOU', 'OAK', 'HOU', 'HOU', 'HOU', 'HOU',
       'OAK', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'OAK', 'HOU',
       'HOU', 'HOU', 'HOU', 'OAK', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU',
       'OAK', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'OAK', 'HOU', 'HOU',
       'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU',
       'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU',
       'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU',
       'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU',
       'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU',
       'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU', 'HOU',
       'HOU', 'HOU', 'HOU'], dtype=object)

In [190]:
Master[Master['Tm'] == 'HOU'].to_excel('2015 Houston Starts.xlsx')
Master[Master['Tm'] != 'HOU'].to_csv('2015 Non Houston Starts.csv', index = False)

## PART 5 – Slightly more advanced stuff

The scouts and analysts want to create (slightly) more advanced pitching stats from existing data so they can better evaluate the players’ performances.

Create a new dataframe with calculations of : SO/BB, SO/9, P/Inning, PAB, WHIP for each pitcher from data in the stacked dataframe (not the filtered dataframes). For those not familiar with these baseball stat terms, here is a quick breakdown:

- SO/BB: strikeouts per walk ratio  
- SO/9: strikeouts per 9 innings pitched  
- P/Inning: pitches per inning  
- PAB: pitches per at-bat ratio  
- WHIP: (BB + H) per inning pitched  

The .groupby() and .sum() functions could be of great use here!!! 

It may be advantageous to review the columns of the stacked/master dataframe created in PART 3

Caution/Hint: The way baseball innings are recorded is quite terrible modular arithmetic. For example, “4.1” innings is actually 4 and 1/3 innings. “4.2” innings is actually 4 and 2/3 innings. Therefore, “4.1” + “4.2” innings is not “8.3” innings, but actually 9 innings. There might need to be a new column created in order to add innings correctly…
  
This new data frame should have columns in this order and no other columns: 
['Pitcher', 'IP', 'H', 'SO', 'BB', 'WHIP', 'SO/BB', 'SO/9', 'H/9', 'P/Inning', 'PAB']

Export this new dataframe as a .csv file named "2015 Houston Astros extra stats.csv" without an index column

In [330]:
Master_Original = Master

In [347]:
stats = pd.DataFrame(columns = ['Pitcher', 'IP', 'H', 'SO', 'BB', 'WHIP', 'SO/BB', 'SO/9', 'H/9', 'P/Inning', 'PAB'])
stats = pd.DataFrame(columns = ['Pitcher'])

In [348]:
Master.columns

Index(['Pitcher', 'Gcar', 'Gtm', 'Date', 'Tm', 'Home/Away', 'Opp', 'Rslt',
       'Inngs', 'Dec', 'DR', 'IP', 'H', 'R', 'ER', 'BB', 'SO', 'HR', 'HBP',
       'ERA', 'BF', 'Pit', 'Str', 'StL', 'StS', 'GB', 'FB', 'LD', 'PU', 'Unk',
       'GSc', 'IR', 'IS', 'SB', 'CS', 'PO', 'AB', '2B', '3B', 'IBB', 'GDP',
       'SF', 'ROE', 'aLI', 'WPA', 'RE24', 'DFS(DK)', 'DFS(FD)', 'Entered',
       'Exited', 'P/Inning', 'PAB', 'Innings', 'SO9', 'H9'],
      dtype='object')

In [349]:
stats['Pitcher'] = Master['Pitcher'].unique()

In [350]:
Master['IP'] = Master['IP'].astype(float) // 1 + (Master['IP'].astype(float) % 1 * 10 / 3)
Master['IP'].values

In [351]:
IP = pd.DataFrame(Master.groupby(by = 'Pitcher')['IP'].mean())
stats = pd.merge(left = stats, right = IP, left_on = 'Pitcher', right_index = True)

In [352]:
H = pd.DataFrame(Master.groupby(by = 'Pitcher')['H'].mean())
stats = pd.merge(left = stats, right = H, left_on = 'Pitcher', right_index = True)

In [353]:
SO = pd.DataFrame(Master.groupby(by = 'Pitcher')['SO'].mean())
stats = pd.merge(left = stats, right = SO, left_on = 'Pitcher', right_index = True)

In [354]:
BB = pd.DataFrame(Master.groupby(by = 'Pitcher')['BB'].mean())
stats = pd.merge(left = stats, right = BB, left_on = 'Pitcher', right_index = True)

In [355]:
stats['WHIP'] = (stats['BB'] + stats['H']) / stats['IP']

In [356]:
stats['SO/BB'] = stats['SO'] / stats['BB']

In [357]:
Master['SO/9'] = Master['SO'] / (Master['Innings'] / 9)
SO9 = pd.DataFrame(Master.groupby(by = 'Pitcher')['SO/9'].mean())
stats = pd.merge(left = stats, right = SO9, left_on = 'Pitcher', right_index = True)

In [358]:
Master['H/9'] = Master['H'] / (Master['Innings'] / 9)
H9 = pd.DataFrame(Master.groupby(by = 'Pitcher')['H/9'].mean())
stats = pd.merge(left = stats, right = H9, left_on = 'Pitcher', right_index = True)

In [359]:
Master['P/Inning'] = Master['Pit'] / Master['Innings']

In [360]:
PInning = pd.DataFrame(Master.groupby(by = 'Pitcher')['P/Inning'].mean())
stats = pd.merge(left = stats, right = PInning, left_on = 'Pitcher', right_index = True)

In [361]:
Master['PAB'] = Master['Pit'] / Master['AB']
PAB = pd.DataFrame(Master.groupby(by = 'Pitcher')['PAB'].mean())
stats = pd.merge(left = stats, right = PAB, left_on = 'Pitcher', right_index = True)

In [362]:
stats

,Pitcher,IP,H,SO,BB,WHIP,SO/BB,SO/9,H/9,P/Inning,PAB
0,"Keuchel, D.",7.313131,5.606061,6.545455,1.545455,0.977901,4.235294,8.451976,7.459430,15.284038,4.132803
1,"Feldman, S.",6.580247,6.388889,3.388889,1.500000,1.198874,2.259259,5.056013,10.333261,17.279730,4.378720
2,"Kazmir, S.",6.430108,5.225806,5.000000,1.903226,1.108696,2.627119,7.800611,8.668139,16.602047,4.345086
3,"McHugh, C.",6.704861,6.468750,5.343750,1.656250,1.211807,3.226415,7.507438,9.834201,16.396082,4.150674
4,"Hernandez, R.",4.777778,4.500000,2.100000,1.300000,1.213953,1.615385,4.299955,9.350270,15.131509,3.870614
5,"McCullers, L.",5.888889,4.818182,5.863636,1.954545,1.150086,3.000000,9.942208,15.678721,22.029948,4.605460

In [319]:
stats.to_csv('2015 Houston Astros extra stats.csv', index = False)